{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test microservices</h1>
                <hr>
                <button id="broker-btn" class="btn btn-outline-secondary">Test Broker </button>
                 <button id="auth-btn" class="btn btn-outline-secondary">Test Auth </button>
                <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    <span class="text-muted">Output shows here...</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="payload"><span class="text-muted">Nothing sent yet...</span></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Received</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script defer>
        let brokerBtn = document.getElementById("broker-btn")
        let authBtn = document.getElementById("auth-btn")
        let output = document.getElementById("output")
        let payload = document.getElementById("payload")
        let received = document.getElementById("received")


        authBtn.addEventListener("click", async()=>{
            console.log("hello")
            const data = {
                "action":"auth", 
                "auth": {
                    "email":"admin@gmail.com", 
                    "password":"admin123"
                }
            }

            const body = {
                method: "POST",
                body : JSON.stringify(data)

            }

            try {
                response = await fetch("http://localhost:8080/brokerr", body)
                jsonData = await response.json()
                
                received.innerHTML = JSON.stringify(jsonData, undefined, 4)
                payload.innerHTML = JSON.stringify(data, undefined, 4)

            }catch(err){
                output.innerHTML =  `<br>${err.message}</br>`
            }
        })

        
        {{/* brokerBtn.addEventListener("click", async()=> {
            const body = {
                method: "POST",
            }
                
            payload.innerHTML = "empty request"

            try {         
                response = await fetch("http://localhost:8080", body)
                data = await response.json()
                received.innerHTML = JSON.stringify(data, undefined, 4)
                output.innerHTML = data.message
                console.log(data)
            }catch(err) {
                output.innerHTML = <"HELLO ERROR"
            }

   
        }) */}}
    </script>
{{end}}
